$profit-color: #22c55e;
$loss-color: #ef4444;
$bg-dark: #0f172a;
$text-main: #f8fafc;

$black: #000000;
$white: #ffffff;

// COLOUR THEME
// Buttons, CTAs, Highlights
$primary-light-2: #d3e7fe;
$primary-light-1: #53a3fd;
$primary: #0376f9;
$primary-dark-1: #0059c0;
$primary-dark-2: #003a7c;

// Bulk of UI, backgrounds, cards, sidebars etc
$secondary-light-2: #94a3b8;
$secondary-light-1: #64748b;
$secondary: #334155;
$secondary-dark-1: #1e293b;
$secondary-dark-2: #0f172a;

// High contrast, warnings, accent colour
$tertiary-light-2: #fcd34d;
$tertiary-light-1: #f59e0b;
$tertiary: #d97706;
$tertiary-dark-1: #92400e;
$tertiary-dark-2: #78350f;
