@use "./styles/variables.scss" as variables;
@use "./styles/animations.scss" as animations;
@import "./styles/_typography.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
body,
html {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: $text-heading-1;
}
h2 {
  font-size: $text-heading-2;
}
h3 {
  font-size: $text-heading-3;
}
h4 {
  font-size: $text-heading-4;
}
h5 {
  font-size: $text-heading-5;
}

span,
p,
div,
button,
input {
  font-size: $text-paragraph;
}

.actionable {
  background-color: variables.$black;
  cursor: pointer;
  transition: all 0.3s;
  color: variables.$white;

  &:hover {
    background-color: variables.$primary-dark-2;
  }
}

.positive-change {
  color: variables.$profit-color;
  animation: flashPositive 1s ease-out;
}
.negative-change {
  color: variables.$loss-color;
  animation: flashNegative 1s ease-out;
}
.text-flash {
  color: variables.$white;
  animation: flashWhite 1s ease-out;
}

.loading-api-error,
.api-error {
  color: variables.$loss-color;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.stock-navigation-link {
  text-decoration: none;
}
