@use "./styles/variables.scss" as variables;
@use "./styles/animations.scss" as animations;
@import "./styles/_typography.scss";

*,
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: $text-heading-1;
}
h2 {
  font-size: $text-heading-2;
}
h3 {
  font-size: $text-heading-3;
}
h4 {
  font-size: $text-heading-4;
}
h5 {
  font-size: $text-heading-5;
}

span,
p,
div,
button {
  font-size: $text-paragraph;
}

.investable {
  background-color: variables.$black;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: variables.$primary-dark-2;
  }
}

.positive-change {
  color: variables.$profit-color;
  animation: flashPositive 1s ease-out;
}
.negative-change {
  color: variables.$loss-color;
  animation: flashNegative 1s ease-out;
}
.text-flash {
  color: variables.$white;
  animation: flashWhite 1s ease-out;
}
