@import './styles/_typography.scss';

*,
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: $text-heading-1;
}
h2 {
  font-size: $text-heading-2;
}
h3 {
  font-size: $text-heading-3;
}
h4 {
  font-size: $text-heading-4;
}
h5 {
  font-size: $text-heading-5;
}

span, p, div, button {
  font-size: $text-paragraph;
}