@use "../../../../styles/variables" as variables;

.side-navigation {
  background-color: variables.$secondary-dark-2;

  .navigation-items {
    display: grid;
    grid-auto-rows: min-content;
    grid-auto-flow: row;
    row-gap: 1rem;

    .navigation-item {
      padding: 1rem;
      transition: all 0.3s;

      &.hide {
        padding: 1rem 0rem;
        width: 0;
        overflow: hidden;
      }
    }
  }
}
