@use "../../../../styles/variables" as variables;

.side-navigation {
  background-color: variables.$secondary-dark-2;
  padding: 2rem;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  row-gap: 2rem;
  border-right: 0.5rem solid variables.$secondary-dark-1;

  .navigation-button {
    display: flex;
    justify-content: center;
  }

  .navigation-items {
    display: grid;
    grid-auto-rows: min-content;
    grid-auto-flow: row;
    row-gap: 1rem;

    .navigation-item {
      padding: 1rem;
      transition: all 0.3s;

      &.hide {
        padding: 1rem 0rem;
        width: 0;
        overflow: hidden;
      }
    }
  }
}
