.dashboard-balance {
    background-color: blue;

    .balance {

        .balance-amount {

        }

        .balance-return {

        }
    }

    .balance-buttons {

    }
}

.cta-button {
    
}