@use "../../../../styles/variables" as variables;

.dashboard-balance {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  grid-auto-flow: row;
  row-gap: 1rem;
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  .balance {
    & .positive {
      color: variables.$profit-color;
    }
    & .negative {
      color: variables.$loss-color;
    }
  }

  .balance-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}
