@use "../../../../styles/mixins" as mixins;

.dashboard-portfolio-overview {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  height: 35rem;
  overflow-y: hidden;

  .portfolio-overview-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .stock-list {
    height: 25rem;
    overflow-y: scroll;
    @include mixins.app-scrollbar;
  }
}
