@use "../../../../styles/variables" as variables;

.dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, min-content);
  background-color: variables.$secondary-dark-2;
  padding: 2rem;
  gap: 2rem;
}
