@use "../../../../styles/variables.scss" as variables;

.asset-searcher {
  grid-row: 1 / 2;
  grid-column: 2 / 3;

  .search-bar {
    .search-input {
      width: 100%;
      height: 3.5rem;
      padding-left: 1.25rem;
      border-radius: 2rem;
      border: none;
    }
  }
}
