@use "../../../../styles/mixins" as mixin;

.dashboard-watchlist {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  height: 35rem;
  overflow-y: hidden;
  // display: grid;
  // grid-template-rows: repeat(2, min-content);
  // row-gap: 2rem;

  .portfolio-watchlist-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .stock-list {
    display: grid;
    grid-auto-rows: min-content;
    grid-auto-flow: row;
    row-gap: 0.25rem;
    @include mixin.app-scrollbar;
    overflow-y: scroll;
    height: 25rem;
  }
}
