@use "../../styles/variables" as variables;
@use "../../styles/animations" as animations;

.indicator {
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  width: 100%;
  min-width: max-content;
  display: grid;
  grid-template-rows: repeat(2, min-content);
  row-gap: 3rem;

  .indicator-value {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    row-gap: 0.5rem;

    .indicator-price {
      font-weight: 700;
    }
  }
}
