@use "../../../../styles/variables" as variables;

.navigation-item {
  padding: 1rem;
  transition: all 0.3s;
  text-decoration: none;
  background-color: variables.$secondary-dark-1;
  color: variables.$white;
}

.hide {
  padding: 1rem 0rem;
  width: 0;
  overflow: hidden;
}

.active {
  background-color: variables.$primary-dark-2;
}
